name: Auto PR dev → main

on:
  push:
    branches:
      - dev

permissions:
  contents: write
  pull-requests: write

permissions:
  contents: write
  pull-requests: write

jobs:
  create-pr:
    runs-on: ubuntu-latest
    steps:
<<<<<<< HEAD
      - name: Checkout repository
=======
      - name: Checkout repo
>>>>>>> 6282fef84c4f72ee4694897d75278e70af0373a1
        uses: actions/checkout@v4

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          base: main
          branch: dev
          title: "Auto PR: dev → main"
          body: |
            Pull request creado automáticamente desde dev hacia main.
          draft: false
